DOORBIRD_AUTH=replace-me
DOORBIRD_BASE_URL=http://device.example.com
FRONIUS_BASE_URL=http://device.example.com
HAUS_API_AUTH=replace-me
HAUS_BASE_URL=https://api.example.com
MIELE_AUTH_TOKEN=replace-me
MIELE_BASE_URL=https://api.example.com
MIELE_DEVICE_ID=replace-me
SHELLY_AUTH_KEY=replace-me
SHELLY_BASE_URL=https://api.example.com
SHELLY_DEVICE_ID=replace-me
SICCE_DEVICE_TOKEN=replace-me
SICCE_VENDOR_KEY=replace-me
WIZ_BULB_IDENTIFIER=replace-me
